@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Cafe24Decobox';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decobox.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100vh;
}

header .container {
  width: 100%;
  height: 100vh;
}

header .container figure {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header .container figure iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

/*nav*/
header .container nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 45px;
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

header .container>nav>ul {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Chewy";
}

header .container nav>ul>li>a {
  color: #F7AB1F;
  font-size: 18px;
}

/*logo*/
header .container nav .logo {
  width: 20vw;
  cursor: pointer;
  transition: 0.3s;
}
/*hover*/
header .container nav .logo:hover {
  transform: scale(1.2);
}

header .container nav .logo img {
  width: 100%;
  height: 100%;
  display: block;
}

/*검색버튼*/
header .container nav ul>.search {
  width: 24px;
  height: 24px;
}

header .container nav ul .search img {
  width: 100%;
  height: 100%;
  display: block;
}

/*작은화면 nav*/
.w600-nav {
  display: none;
  width: 100%;
}

.w600-nav>ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-family: "Chewy";
}

.w600-nav>ul>li>a {
  color: #f1f1f1;
  font-size: 18px;
  border-bottom: 2px solid #f1f1f1;
}

/*news*/

#news {
  width: 100%;
  /* min-height: 900px; */
  height: 90vh;
  background-color: #F8F3E7;
}

#news>.container {
  width: 100%;
  height: 100%;
  padding: 120px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between; */
}

#news>.container>.title>h2 {
  font-size: 80px;
  color: #111;
  font-family: "cafe24 Decobox";
  margin-bottom: 20px;
}

/* .swiper-wrapper {
  padding-left: 45px;
  overflow: hidden;
} */
.swiper .swiper-slide {
  width: 15vh;
  /* height: 15vh; */
  overflow: hidden;
  cursor: pointer;
  /* margin-bottom: 50px; */
}
.scale {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 20px;
}

.swiper-slide img {
  width: 100%;
  border-radius: 20px;
  transition: 0.5s;
}
/*hover*/
.swiper .swiper-slide:hover img {
  transform: scale(1.2);
}

.swiper .swiper-slide > p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat';
}
/*hover*/
.swiper .swiper-slide:hover p{
  font-style: italic;
  font-weight: 600;
}

/*버튼*/
#news>.container>button {
  background-color: #F7AB1F;
  border: none;
  width: 160px;
  height: 80px;
  color: #111;
  border-radius: 20px;
  font-family: "Chewy";
  font-size: 24px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  /* 부드러운 애니메이션 */
  transition: transform 0.25s ease, box-shadow 0.15s ease;

  /* 기본 그림자 (살짝 떠있음) */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#news>.container>button:hover {
  /* transform: translate(1px, 1px); */
  transform: translate(-90px,-5px);
  box-shadow: 3px 6px #ccc;
}

/*==============================*/
/*help-us*/
#help-us {
  width: 100%;
  background-color: #1a1a24;
  padding: 120px;
}
#help-us > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#help-us .container .logo {
  width: 10vw;
}
#help-us .container .logo img {
  width: 100%;
  height: 100%;
}
/*타이틀*/
#help-us .container .txt {
  text-align: center;
  color: #f1f1f1;
  width: 100%;
}
#help-us .container .txt h2 {
  font-family: "cafe24 Decobox";
  font-size: 80px;
  margin-top: 5px;
  
}
#help-us .container .txt p {
  font-size: 24px;
  margin-bottom: 50px;
  font-family: 'Montserrat';
  padding: 0 120px;
}
/*버튼*/
#help-us .container button {
  font-size: 24px;
  color: #f1f1f1;
  font-family: "Chewy";
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #f1f1f1;
  cursor: pointer;
}
/*hover*/
#help-us .container button:hover {
  color: #aaa;
  border-bottom: 2px solid #aaa;
}



/* ============================ */
/*pick a flim*/
#flim {
  width: 100%;
  height: 100vh;
  background-color: #F8F3E7;
}
#flim .container {
  padding: 120px 0;
}
#flim .container .title h2{
  font-size: 120px;
  color: #111;
  font-family: "cafe24 Decobox";
  text-align: center;
}
/* 스와이퍼 */
.swiper-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible; /* 슬라이드 밖 콘텐츠 보이게 */
  /* height: auto; */
}

.swiper2 {
  width: 100%;
  max-width: 1200px;
}

.swiper2 > .swiper-wrapper > .swiper-slide {
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
.swiper2 > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: 100%;
}
.swiper2 > .swiper-wrapper > .swiper-slide > h4 {
  font-size: 48px;
  color: #F05B23;
  font-family:"cafe24 Decobox";
}

.swiper-pagination2 {
  margin-top: 12px; /* 슬라이드 아래 딱 붙게 */
  text-align: center;
}

/* 비활성화된 페이지네이션 - 원형 */
.swiper-pagination-bullet {
  background: #F7AB1F;
  opacity: 0.6;
  width: 12px;  /* 기본 크기 */
  height: 12px; /* 기본 크기 */
  border-radius: 50%; /* 원형 모양 */
  margin: 0 6px; /* 간격 */
}

/* 활성화된 페이지네이션 - 길쭉한 형태 */
.swiper-pagination-bullet-active {
  background: #F05B23;
  opacity: 1;
  width: 50px;  /* 길쭉하게 크기 증가 */
  height: 12px; /* 높이는 그대로 유지 */
  border-radius: 6px; /* 둥근 직사각형 형태 */
}

/*1200*/
@media screen and (max-width:1200px) {
  #news>.container {
    padding: 80px;
  }

  #news>.container >.title>h2 {
    font-size: 80px;
  }
  #news>.container > button {
    bottom: 80px;
  }
  #help-us {
    padding: 80px;
  }
  #help-us .container .logo {
    width: 15vw;
  }
  #help-us .container .txt h2 {
    font-size: 60px;
  }
  #help-us .container .txt p {
    padding: 0;
}
}

/*768*/
@media (max-width:770px) {
  header .container nav .logo {
    width: 40vw;
  }

  header .container>nav>ul {
    display: none;
  }

  .w600-nav {
    display: block;
  }

  #news {
    height: 70vh;
  }
  #news>.container {
    padding: 60px;
  }

  #news>.container>.title > h2 {
    font-size: 40px;
  }

  .swiper-slide > p {
    margin-top: 16px;
  }

  #news>.container>button {
    font-size: 20px;
    width: 140px;
    height: 60px;
    bottom: 60px;
  }
  #help-us {
    padding: 60px;
  }
  #help-us .container .logo {
    width: 20vw;
  }
  #help-us .container .txt h2 {
    font-size: 60px;
  }
  #help-us .container .txt p {
    font-size: 18px;
}
}

/*600*/
@media (max-width:600px) {
  #news {
    height: 80vh;
  }
  #help-us {
    padding: 60px 40px;
  }
  #help-us .container .logo {
    width: 30vw;
  }
  #help-us .container .txt h2 {
    font-size: 40px;
  }
  #help-us .container .txt p {
    font-size: 16px;
}
}
/*454*/
@media (max-width:454px) {
  #help-us {
    padding: 40px 20px;
  }
  #help-us .container .txt p {
    font-size: 14px;}
}
/*378*/
@media (max-width:378px) {
  #news {
    height: 60vh;
  }
  #news>.container {
    padding: 40px;
  }
  #news>.container>button {
    font-size: 18px;
    width: 140px;
    height: 50px;
    bottom: 40px;
  }
  #help-us {
    padding: 40px 10px;
  }
  #help-us .container .logo {
    width: 30vw;
  }
  #help-us .container .txt h2 {
    font-size: 40px;
  }
}